# Editor directories and files
.vscode/*
!.vscode/extensions.json

# dependencies
**/node_modules

# build files
**/dist
**/*.tgz
**/*.tsbuildinfo

# misc
**/.DS_Store
**/*.env
**/*.local
**/.cache
**/.idea
**/.pnpm-store
*storybook.log
storybook-static
