{
  "singleQuote": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
      "index.css",
      "^react$",
      "^(?!react$\b)[a-z]",
      "^@(?!/)",
      "^@/",
      "^(?:\\./|\\.\\./)"
  ],
  "importOrderSeparation": true,
  "printWidth": 80
}
