repos:
  - repo: local
    hooks:
      - id: lint-format-compile
        name: eslint, prettier, and tsc
        entry: ./pre-commit.sh
        language: script
        always_run: true
        verbose: true
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: fix-byte-order-marker
      - id: trailing-whitespace
      - id: end-of-file-fixer
