dd {
    width: 80%
}

dl {
    display: flex;
    flex-wrap: wrap;
}

dt {
    width: 20%;
    text-align: right;
    padding-right: 10px;
}

form label {
    display: block;
}

input {
    width: 100%;
    background-color: var(--bs-secondary-text-emphasis);
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
    border-color: var(--bs-body-color);
}

input:hover {
    border-color: var(--bs-info);
}

input:focus{
    outline-style: solid;
    outline-color: var(--bs-info);
    border-color: var(--bs-info);
}

summary h4 {
    display: inline;
}

.alerts {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
}


.select .select__control {
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
    outline: none;
}

.select .select__control:hover {
    border-color: var(--bs-info);
}

.select .select__control:focus  {
    outline-color: var(--bs-info);
    border-color: var(--bs-info);
}

.select .select__value-container, .select .select__menu-list, .select .select__indicators, .select .select__option  {
    background-color: var(--bs-secondary-text-emphasis);
}

.select .select__single-value, .select .select__multi-value {
    color: var(--bs-body-color);
}

.select .select__multi-value {
    background-color: var(--bs-dark-border-subtle);
}


.select .select__option:hover {
    background-color: var(--bs-primary-text-emphasis);
}


.close {
    position: absolute;
    right: 5px;
    top: 0;
    background-color: transparent;
    border: 0px;
    font-size: 1.25rem;
}

.text-danger {
    font-size: 0.85rem;
}
