@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 9.8%;
        --foreground: 0 0% 14.7%;
        --accent: 0 0% 7.35%;
        --accent-foreground: 0 0% 19.6%;
        --border: 0 0% 24.5%;
        --outline: 0 0% 88.2%;
        --input: 0 0% 0%;
        --text: 0 0% 88.2%;

        --primary: 210, 50%, 35.15%;
        --primary-accent: 210, 50%, 20.0355%;

        --success: 160, 100%, 35.15%;
        --success-accent: 160, 100%, 20.0355%;
        
        --danger: 0, 100%, 35.15%;
        --danger-accent: 0, 100%, 20.0355%;

        --warning: 51, 100%, 35.15%;
        --warning-accent: 51, 100%, 20.0355%;
    }

    body {
        @apply bg-background text-text
    }
}