
/* Model Components */
.conv-model-form-crud {
    text-align: center;
}

.conv-model-nav {
    cursor: pointer;
}

.conv-model-table-crud-cell {
    width: 1%;
    white-space: nowrap;
}

.conv-model-title {
    position: relative;
}

.conv-model-title h2 {
    display: inline;
}

.conv-model-title > *:not(h2) {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Common Components */
.conv-checkbox {
    border: none;
    padding: 0;
    transform: scale(2);
    background-color: transparent;
    color: var(--bs-form-valid-color);
}

.conv-checkbox:disabled {
    color: var(--bs-secondary);
}

.pagination>li>a {
    background-color: var(--bs-secondary);
    border-color: var(--bs-body-color);
}

.pagination-info {
    margin-left: 3px;
    margin-top: 6px; 
    align-items: center/* Adjust the margin as needed */
}

