
/* Model Components */
.conv-model-form-crud {
    margin-top: 10px;
    text-align: center;
}

.conv-model-nav {
    cursor: pointer;
}

.conv-model-table-crud-cell {
    width: 1%;
    white-space: nowrap;
}

.conv-model-title {
    position: relative;
}

.conv-model-title h2 {
    display: inline;
}

.conv-model-title > *:not(h2) {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Common Components */
.conv-checkbox {
    border: none;
    padding: 0;
}


.conv-filters {
    position: relative;
    text-align: right;
    align-self: end;
    margin-left: auto; 
    margin-right: 75px;
}

.filter-bar {
    width: 150px;
}

.not-checkbox {
    width: 20px;
    white-space: none;
    display: inline;
}

.sort-reset {
    width: 100%;
    height: 25px;
    white-space: none;
    font-size: xx-small;
    align-self: center;
    display: inline;
    text-align: center;
}
