
/* Model Components */
.conv-model-form-crud {
    margin-top: 10px;
    text-align: center;
}

.conv-model-nav {
    cursor: pointer;
}

.conv-model-table-crud-cell {
    width: 1%;
    white-space: nowrap;
}

.conv-model-title {
    position: relative;
}

.conv-model-title h2 {
    display: inline;
}

.conv-model-title > *:not(h2) {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Common Components */
.conv-checkbox {
    border: none;
    padding: 0;
}

.search-bar {
    width: 150px;
}

/* Dropdown content (hidden by default) */
.search-results-box {
    overflow-y: scroll;
    height: 100px;
    width: 100%;
}

.search-bar-long {
    width: 95%;
    height: 50px;
}

.button-search {
    width: 5%;
    height: 55px;
}

.pagination {
    margin-top:15px;
}

.pagination-info {
    margin-top: 3px; 
    align-items: center/* Adjust the margin as needed */
}
