/* stylelint-disable selector-class-pattern */
dd {
    width: 80%
}

dl {
    display: flex;
    flex-wrap: wrap;
}

dt {
    width: 20%;
    text-align: right;
    padding-right: 10px;
}

form label {
    display: block;
}

input {
    width: 100%;
    background-color: var(--input-bg-color);
    border-radius: 4px;
    border-style: solid;
    border-color: var(--bs-form-valid-color);
    min-width: 225px;
}

input:hover {
    border-color: var(--bs-form-valid-color);
}

input:focus{
    outline-style: solid;
    outline-color: var(--bs-form-valid-color);
    border-color: var(--bs-form-valid-color);
}

summary h4 {
    display: inline;
}

.alerts {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.select .select__input {
    color: var(--bs-body-color) !important;
}

.select .select__control {
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    white-space: nowrap;
    width: 100%;
    min-width: 225px;
    border-color: var(--bs-form-valid-color);
}

.select .select__control:hover {
    border-color: var(--bs-form-valid-color);
}

.select .select__control:focus-within {
    outline-style: solid;
    border-color: var(--bs-form-valid-color);
    outline-color: var(--bs-form-valid-color);
    box-shadow: var(--bs-form-valid-color);
}

.select .select__value-container, .select .select__menu-list, .select .select__indicators, .select .select__option  {
    background-color: var(--input-bg-color);
    color: var(--bs-body-color);
}

.select .select__menu-list {
    border: solid;
    border-width: thin;
    border-color: var(--bs-success-border-subtle);
    white-space: nowrap;
}

.select .select__single-value, .select .select__multi-value, .select .select__multi-value__label {
    color: var(--bs-body-color);
}

.select .select__multi-value {
    background-color: var(--bs-dark-border-subtle);
}

.select .select__option {
    color: var(--bs-body-color);
}

.select .select__option:hover {
    background-color: var(--bs-form-valid-color);
    color: var(--input-bg-color);
}

.close {
    position: absolute;
    right: 5px;
    top: 0;
    background-color: transparent;
    border: 0;
    font-size: 1.25rem;
}

.text-danger {
    font-size: 0.85rem;
}
