@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* main background color */
        --bg-color: hsl(0 0 15%);
        /* accent to distinguish components on top of --bg-color   */
        --bg-accent: hsl(from var(--bg-color) h s calc(l - .15));
        /* second level background color used on components on top of the --bg-color */
        --fg-color: hsl(from var(--bg-color) h s calc(l + 0.2));
        /* accent to distinguish components on top of --fg-color  */
        --fg-accent: hsl(from var(--fg-color) h s calc(l - .1));
        /* border color */
        --border-color: hsl(from var(--fg-color) h s calc(l + 0.1));
        /* base text color */
        --text-color: hsl(from var(--fg-color) 0 0 100%);
        /* inactive or not interactable color for text*/
        --text-muted: hsl(from var(--text-color) h s calc(l - .1));

        --bg-success: hsl(125, 100%, 80%);
    }

    body {
        background-color: var(--bg-color);
        color: var(--text-color)
    }
}


@layer utilities {
    .success {
        background-color: var(--bg-success);
        /* color: hsl(from var(--bg-success) TODO); */
    }

    .danger {
        /* TODO */
    }

    .warning {
        /* TODO */

    }
}